body {
	/*background-color: #272822;*/
	background-color: white;
}

table#game_area {
  /*border: 2px solid #F8F8F2;*/
  border: 2px solid dimgray;
  margin: 50px auto;
}

table#game_area tr td {
  height: 20px;
  width: 20px;
  font-size: 0;
}
